In [1]:
print('MACHINE LEARNING');

MACHINE LEARNING

In [2]:
for i in range (1,10):
    print('LOOP');

LOOP
LOOP
LOOP
LOOP
LOOP
LOOP
LOOP
LOOP
LOOP

In [3]:
n=5
f=0
for i in range (2,n-1):
    if n%i==0:
        print("Not prime")
        break
else:
    print('Prime')

Prime

In [4]:
import pandas as pd

In [10]:
student= pd.read_csv('CSV1.csv')

In [12]:
student.head(2)

  Name,\tSection, \tMarks,\tRoll,\tGrade
0               Asmit,\tA,\t89,\t101,\tA
1                 Omm,\tA,\t80,\t116,\tA

In [13]:
student= pd.read_csv('Students.csv')

In [14]:
student.head(2)

     Name\t Section  Marks, Roll, Grade
0  Asmit,\t       A,    89,  101,     A
1    Omm,\t       A,    80,  116,     A

In [15]:
student.head()

       Name\t Section  Marks, Roll, Grade
0    Asmit,\t       A,    89,  101,     A
1      Omm,\t       A,    80,  116,     A
2  Manisha,\t       B,    73,  187,     B
3      Rinku,       C,    95,  213,    A+
4    Jennifer       B,    63,  175,     C

In [16]:
student.columns

Index(['Name\t', 'Section ', 'Marks,', 'Roll,', 'Grade'], dtype='object')